html{
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *, *:before, *:after{
    box-sizing: inherit;
  }
  :root{
    --clr-bg-dark:#141414;
    --clr-hover-semi:#404e4e;
    --clr-txt-light:#f0f2e7;
  
    --ff-primary:'Poppins', sans-serif;
  }
  body{
    font-size: 1.6rem;
    margin:0;
    padding:0;
    background: var(--clr-bg-dark);
    color: var(--clr-txt-light);
    font-family: var(--ff-primary);
  }
  header{
   min-height: 15vh;
    width: 100%;
  }
  nav{
    display: flex;
   justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  .styleDivHeader ul li{
    list-style: none;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    display: inline-block;
  }
  .styleDivHeader ul li::after{
    content: '';
    background-color: transparent;
    width: 100%;
    height: 0.3rem;
    display: block;
  }
  .styleDivHeader ul li:hover:after{
    background-color: var(--clr-hover-semi);
  }
  .styleDivHeader ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
  }
  nav img{
    width: 4.3rem;
  }
  nav img{
    width: 4.3rem;
  }
  .section1{
    margin-top: 2rem;
  }
  .section1Container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
   display: grid;
   grid-auto-flow: column;
  }
  .Section1Div1{
    padding-right: 2rem;
  }
  .Section1Div1 h1{
  max-width: 25ch;
  font-size: 3rem;
  }
  .Section1Div1 p{
    max-width: 58ch;
  }
  .Section1Div1 a button{
    padding: 0.7rem;
    font-size: 1.5rem;
  }
  .Section1Div1 button:hover{
    box-shadow: 0 0 1.0rem  0 red;
  }
  .section1Div2 img{
    max-width: 39.705rem;
    margin-top: 4rem;
  }
  .section1Div2{
    min-width: 28ch;
  }
  .section2{
    padding-top:2rem;
    padding-bottom:2rem;
  }
  .section2Container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .section2Container h1{
  text-align: center;
  font-size: 3rem;
  }
  .section2Div2{
    display: grid;
   grid-auto-flow: column;
   grid-auto-columns:  1fr;
  }
  .section2Div2 div{
    padding-right:1rem;
    padding-left:1rem;
  }
  .section2Div2 div img{
    max-width: 100%;
    border-radius: 4%;
  }
  .section2Div2 div img:hover{
    box-shadow: 0 0 1.0rem  0 var(--clr-hover-semi);
  }
  .section2Div2 h3{
    text-align: center;
  }
  .section3{
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .section3Container{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    background: hsla(0,0%,20%,0.4);
    min-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold; 
  }
  .section3Container div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .section3Container div p::after{
    content: '-ITACHI UCHIHA';
    display: block;
    margin-top: 5rem;
  }
  .section4{
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .section4Container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background: hsl(0,0%,20%);
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 16rem;
  }
  .section4SubContainer{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
  }
  .section4SubContainer div p{
    max-width: 30ch;
    font-size: 1.7rem;
    text-transform: uppercase;
  }
  .section4SubContainer div img{
    width: 6rem; 
  }
  .section4SubContainer div button{
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    background:hsla(0,0%,20%,0.4);
    color: var(--clr-txt-light);
  }
  .section4SubContainer div button:hover{
    box-shadow: 0 0 1.0rem  0 red;
  }
  .section5{
    padding-top: 2rem;
    padding-bottom: 2rem;

  }
  .section5Container{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    background: hsl(0,0%,40%);
    display: flex;
    text-align: center;
    min-height: 5rem;
    align-items: center;
    
  }
  .section5Container div{
    width:90%;
    margin-right:auto;
    margin-left:auto;
  }
  @media (max-width:43.75rem){
    body{
      font-size: 1.29rem;
    }
    .styleDivHeader ul li{
      display: block;
    }
    .section1{
      margin-top: 0rem;
    }
    .section1Container{
     display: grid;
     grid-auto-flow: row;
    }
   .Section1Div1{
     padding-bottom: 1.5rem;
    }
   .Section1Div1 h1{
      font-size: 2.5rem;
    }
    .section1Div2 img{
      max-width: 100%;
      border-radius: 10%;
      margin-top: 1rem;
    }
    .Section1Div1 p{
      max-width: 70ch;
    }
    .Section1Div1 a button{
      font-size: 1rem;
    }
   .section2Div2{
      display: grid;
     grid-auto-flow: row;
     grid-auto-rows: 1fr;
    }
    .section2Container h1{
       font-size: 2.5rem;
    }
    .section4Container{
      width: 90%;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .section4SubContainer{
      display: flex;
      flex-direction: column;
    }
    .section4SubContainer div img{
      width: 4rem;
      margin-right: 21rem;   
    }
    .section4SubContainer div button{
      font-size: 1rem;
    }
    .section4SubContainer div p{
      font-size: 1.5rem;
    }
  }